<!doctype html>
<html>
    <head>
        <title>pydoc.dev - consistent API docs for Python</title>
        <link rel="stylesheet" href="https://unpkg.com/bamboo.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {max-width: 80ch;}
        </style>
    </head>
    <body>
        {{ readme | safe }}

        <p>pydoc.dev is currently in early alpha and only hosts
        documentation for {{ packages | length }} packages:</p>

        <ul style="columns: 200px;">
        {% for package_name, package in packages %}
            <li><a href="/{{package_name}}/latest/" title="{{package.info.summary}}">{{package.info.name}}</a></li>
        {% endfor %}
        </ul>

        {{ contributing | safe }}
    </body>
</html>
